body{
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #a010f6;
    background-color: #1c1f26;
}

.titre{
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 2px;
    border-bottom: solid gray 2px;
    padding-bottom: 1rem;
}

.image-couv{
    width: 90%;
    height: 20rem;
    padding-left: 10%;
    background-image: url("gif/cybercity.gif");
}


button{
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3,1fr);
    border-bottom: solid gray 2px;
    padding-bottom: 1rem;
}

.jour, .timer, .weather {
    text-align: center;
    font-size: 25px;
    margin: auto;
    letter-spacing: 2px;
}

.heure{
    font-size: 40px;
    margin: 1rem;
}

.input{
    border-radius: 20px;
    font-size: 30px;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #a010f6;
    text-align: center;
    
    
}

.minuteur{
    font-size: 40px;
}

.select{
    border-radius: 20px;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    height: 35px;
    margin-left: 0.5rem;
    color: #a010f6;
    background-color: #1c1f26;
    border: none;
    letter-spacing: 2px;
}

.start, .restart{
    border-radius: 20px;
    font-size: 20px;
    height: 35px;
    color: #a010f6;
    background-color: #1c1f26;
    border: none;
    letter-spacing: 2px;
}

.weather {
    text-align: center;
}

.weather-icon{
    height: 3rem;
    mix-blend-mode: multiply;
}

.container2{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2,1fr);
    border-bottom: solid gray 2px;
    padding-bottom: 1rem;
}

.todo{
    border-right: solid grey 2px;
    margin-top: 1rem;
}

.todo-titre {
    text-align: center;
    font-size: 35px;
}

#todo-form {
    text-align: center;
}

#todo-input {
    border-radius: 20px;
    margin-bottom: 2rem;
    color: #a010f6;
    border: 1px solid #ccc;
    font-size: 30px;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
}

.todo-submit{
    color: #a010f6;
    background-color: #1c1f26;
    border: none;
    font-size: 30px;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    margin-left: 1rem;

}

#todo-items {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    font-size: 30px;
    padding: 0.5rem;

}

.item input[type="checkbox"] {
    margin-right: 1rem;
}

.item button {
    margin-left: 1rem;
}

#progress-bar {
    font-size: 20px;
    height: 20px;
    background-color: #a010f6;
    color: white;
    width: 0;
    max-width: 90%;
    margin-left: 5%;
    margin-top: 2rem;
}